<div class="navbar-fixed backrgoundImage">
  <nav class="black backrgoundImage" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo hide-on-med-and-down" style="left:-120px;"><img
          src="assets/img/icons/trialLogo1.gif" style="height: 80px;width: 120px;vertical-align: text-top;"><img
          src="assets/img/icons/brandName.gif" style="height: 45px;vertical-align: text-top;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#index-banner" class="menuTextFont effect-underline">Home</a></li>
        <li><a href="#leistungenDiv" class="menuTextFont effect-underline">Leistungen</a></li>
        <li><a href="#preisDiv" class="menuTextFont effect-underline">Preisliste</a></li>
        <li><a href="#teamDiv" class="menuTextFont effect-underline">Salon</a></li>
        <li><a href="#galleryDiv" class="menuTextFont effect-underline">Arbeit</a></li>
        <li><a href="#contactUsDiv" class="menuTextFont effect-underline">Kontakt</a></li>
        <li><a href="https://www.facebook.com/WomenHaarstylisten/" class="menuTextFont"><img
              src="assets/img/icons/facebook.svg" style="height: 25px;vertical-align: sub;"></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav sidenav-background">
        <li style="margin-left: 10px"><a href="#closeSideNav" class="sideNavTextStyle"><i
              style="font-size: 20px;margin-left: 50%;" class="material-icons dp48">close</i></a></li>
        <li style="margin-left: 10px"><img alt="logo image" src="assets/img/icons/trialLogo1.gif"
            style="height: 40px;"><img src="assets/img/icons/brandName.gif" alt="logo GIF" style="height: 40px;"></li>
        <li><a href="#index-banner" class="sideNavTextStyle">Home</a></li>
        <li><a href="#leistungenDiv" class="sideNavTextStyle">Leistungen</a></li>
        <li><a href="#preisDiv" class="sideNavTextStyle">Preisliste</a></li>
        <li><a href="#teamDiv" class="sideNavTextStyle">Salon</a></li>
        <li><a href="#galleryDiv" class="sideNavTextStyle">Arbeit</a></li>
        <li><a href="#contactUsDiv" class="sideNavTextStyle">Kontakt</a></li>
        <li><a href="https://www.facebook.com/WomenHaarstylisten/" class="sideNavTextStyle"><img
              src="assets/img/icons/facebook.svg" style="height: 25px;vertical-align: sub;"></a></li>
      </ul>
      <a href="#" id="menuButton" data-target="nav-mobile" class="sidenav-trigger placeMentClass"><img
          src="assets/img/icons/trialLogo1.gif" style="height: 36px;width: 52px;vertical-align: middle;"></a>
    </div>
  </nav>
</div>

<div id="index-banner" class="parallax-container valign-wrapper parallax-container-custom2">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="setImageUrl" src="assets/img/mainSlideShowPictures/pic2.jpg"
      alt="friseur salon background image"></div>
</div>

<div class="container" id="leistungenDiv">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 center ">
        <img id="mainLogo" src="assets/img/logo.gif" class="animated displayNone mainLogoClass">
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 animated displayNone" id="subHeadDiv1">
        <div class="icon-block">
          <h2 class="center brown-text"><img style="height: 100px;" src="assets/img/icons/icon1.svg"></h2>
          <h5 class="center">Moderne Frisur</h5>

          <p class="light">Wir haben ein stilvolles Team, das unseren Kunden den besten Look bieten kann. Wir sind der
            beste Damen Friseursalon in Gießen. Also jeden Tag, Guten Haar Tag !!</p>
        </div>
      </div>

      <div class="col s12 m4 animated displayNone" id="subHeadDiv2">
        <div class="icon-block">
          <h2 class="center brown-text"><img style="height: 100px;" src="assets/img/icons/icon2.svg"></h2>
          <h5 class="center">Elegantes Make-up</h5>

          <p class="light">Unsere Spezialisten analysieren und entwickeln für Sie die passenden Make-up-Ideen. Sie
            können immer Ihre Erwartungen mitteilen und wir werden es umsetzen.</p>
        </div>
      </div>

      <div class="col s12 m4 animated displayNone" id="subHeadDiv3">
        <div class="icon-block">
          <h2 class="center brown-text"><img style="height: 100px;" src="assets/img/icons/icon3.svg"></h2>
          <h5 class="center">Andere Schönheitsservices</h5>

          <p class="light">Wir bieten eine breite Palette an Beauty-Services und wir kümmern uns immer um unsere Kunden
            und verwenden immer die besten Qualitätsprodukte.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <section class="customer-logos slider">
    <div class="slide"><img alt="Gießen salon image" src="assets/img/slideShowImages/pic1.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic2.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic3.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic4.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic5.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic6.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic7.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic8.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic9.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic10.jpg"></div>
    <div class="slide"><img src="assets/img/slideShowImages/pic11.jpg"></div>
  </section>
</div>

<div class="container" id="preisDiv">
  <div class="section">

    <!-- Row 1: CUT / STYLE -->
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Preisliste</h4>

        <div class="col s12 m6 animated displayNone" id="preisList1">
          <h5 style="text-align:left">CUT</h5>
          <ul class="collapsible">
            <li *ngFor="let item of cutList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 animated displayNone" id="preisList2">
          <h5 style="text-align:left">STYLE</h5>
          <ul class="collapsible">
            <li *ngFor="let item of styleList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Row 2: COLOR -->
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>

        <div class="col s12 m6 animated displayNone" id="preisList3">
          <h5 style="text-align:left">COLOR</h5>
          <ul class="collapsible">
            <li *ngFor="let item of colorList1; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 animated displayNone" id="preisList4">
          <h5 style="text-align:left">COLOR</h5>
          <ul class="collapsible">
            <li *ngFor="let item of colorList2; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Row 3: KOSMETIK / SPECIALS -->
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>

        <div class="col s12 m6 animated displayNone" id="preisList5">
          <h5 style="text-align:left">KOSMETIK</h5>
          <ul class="collapsible">
            <li *ngFor="let item of kosmetikList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 animated displayNone" id="preisList6">
          <h5 style="text-align:left">SPECIALS</h5>
          <ul class="collapsible">
            <li *ngFor="let item of specialsList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Row 4: HOCHSTECKFRISUREN / EXTENSIONS -->
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>

        <div class="col s12 m6 animated displayNone" id="preisList7">
          <h5 style="text-align:left">HOCHSTECKFRISUREN</h5>
          <ul class="collapsible">
            <li *ngFor="let item of hochsteckfrisurenList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 animated displayNone" id="preisList8">
          <h5 style="text-align:left">EXTENSIONS</h5>
          <ul class="collapsible">
            <li *ngFor="let item of extensionsList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Row 5: HERREN / KINDER -->
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>

        <div class="col s12 m6 animated displayNone" id="preisList9">
          <h5 style="text-align:left">HERREN</h5>
          <ul class="collapsible">
            <li *ngFor="let item of herrenList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 animated displayNone" id="preisList10">
          <h5 style="text-align:left">KINDER</h5>
          <ul class="collapsible">
            <li *ngFor="let item of kinderList; let i = index">
              <div class="collapsible-header">
                <img src="assets/img/icons/icnLady1.svg" style="height: 30px" alt="Icon">&nbsp; {{ item.serviceNamen }}
              </div>
              <div class="collapsible-body">
                <p *ngFor="let price of item.preisListe; let j = index">{{ price }}</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- <div class="container" id="preisDiv">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Permanent Make-up und Microblading</h4>
          <div class="col s12 m6 animated displayNone" id="preisList1">
            <h5 style="text-align:left">Augen</h5>
            <ul class="collapsible">
              <li *ngFor="let item of pMMBAugen; let i = index">
                    <div class="collapsible-header"><img src="assets/img/icons/icnLady1.svg" style="height: 30px">&nbsp; {{item.serviceNamen}}</div>
                    <div class="collapsible-body">
                      <p *ngFor="let itemPreisComp of item.preisListe; let j = index">{{itemPreisComp}}</p>
                    </div>
              </li>
            </ul>
          </div>

          <div class="col s12 m6 animated displayNone" id="preisList8">
            <h5 style="text-align:left">Augenbrauen</h5>
            <ul class="collapsible">
              <li *ngFor="let item of pMMBAugenBrauen; let i = index">
                    <div class="collapsible-header"><img src="assets/img/icons/icnLady1.svg" style="height: 30px">&nbsp; {{item.serviceNamen}}</div>
                    <div class="collapsible-body">
                      <p *ngFor="let itemPreisComp of item.preisListe; let j = index">{{itemPreisComp}}</p>
                    </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <div class="col s12 m6 animated displayNone" id="preisList1">
            <h5 style="text-align:left">Lippen</h5>
            <ul class="collapsible">
              <li *ngFor="let item of pMMBLippen; let i = index">
                    <div class="collapsible-header"><img src="assets/img/icons/icnLady1.svg" style="height: 30px">&nbsp; {{item.serviceNamen}}</div>
                    <div class="collapsible-body">
                      <p *ngFor="let itemPreisComp of item.preisListe; let j = index">{{itemPreisComp}}</p>
                    </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div> -->

<!--
  <div class="parallax-container valign-wrapper parallax-container-custom1 show-on-large hide-on-medium-and-down">
    <div class="parallax"><img style="width: 140%" src="assets/img/mainSlideShowPictures/pic8.jpg" alt="Unsplashed background img 3"></div>
  </div> -->

<div class="parallax-container valign-wrapper parallax-container-custom1">
  <div class="parallax"><img src="assets/img/mainSlideShowPictures/mobilePic2.jpg" alt="Unsplashed background img 3">
  </div>
</div>

<!-- <div class="container" id="teamDiv">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4 class="animated displayNone">Team</h4>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3 animated displayNone" id="teamDiv1">
          <figure class="snip1529">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
            <figcaption>
            </figcaption>
            <div class="hover">
              <h5>Vinod Khanna</h5>
            </div>
            <a href="#"></a>
          </figure>
        </div>

        <div class="col s12 m3 animated displayNone" id="teamDiv2">
          <figure class="snip1529">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
            <figcaption>
            </figcaption>
            <div class="hover">
              <h5>Vinod Khanna</h5>
            </div>
            <a href="#"></a>
          </figure>
        </div>

        <div class="col s12 m3 animated displayNone" id="teamDiv3">
          <figure class="snip1529">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
            <figcaption>
            </figcaption>
            <div class="hover">
              <h5>Vinod Khanna</h5>
            </div>
            <a href="#"></a>
          </figure>
        </div>

        <div class="col s12 m3 animated displayNone" id="teamDiv4">
          <figure class="snip1529">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
            <figcaption>
            </figcaption>
            <div class="hover">
              <h5>Vinod Khanna</h5>
            </div>
            <a href="#"></a>
          </figure>
        </div>
      </div>

    </div>
  </div> -->

<div class="container" id="teamDiv">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h4 class="animated displayNone">Unser Salon</h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 center">
        <ul class="grid effect-1" id="grid">
          <li><img src="assets/img/mainSlideShowPictures/pic1.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic2low.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic3.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic4.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic5low.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic6.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic7.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic9.jpg"></li>
          <li><img src="assets/img/mainSlideShowPictures/pic10.jpg"></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- <div class="container" id="galleryDiv">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h4 class="animated displayNone">Unsere Arbeit</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 center">
        <ul class="grid effect-8" id="grid">
          <li><img src="assets/img/workGallery/pic1.jpg"></li>
          <li><img src="assets/img/workGallery/pic2.jpg"></li>
          <li><img src="assets/img/workGallery/pic5.jpg"></li>
          <li><img src="assets/img/workGallery/pic7.jpg"></li>
          <li><img src="assets/img/workGallery/pic10.jpg"></li>
          <li><img src="assets/img/workGallery/pic11.jpg"></li>
          <li><img src="assets/img/workGallery/pic12.jpg"></li>
          <li><img src="assets/img/workGallery/pic13.jpg"></li>
          <li><img src="assets/img/workGallery/pic14.jpg"></li>
          <li><img src="assets/img/workGallery/pic8.jpg"></li>
        </ul>
      </div>
    </div>

  </div>
</div> -->

<footer class="page-footer backrgoundImage2" id="contactUsDiv">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h1 class="white-text" style="font-size: 26px">WOMEN HAARSTYLISTEN</h1>
        <h6>Dein freundlicher Friseur in Gießen</h6>
        <p class="grey-text text-lighten-4">
          NEUSTADT 1
          <br />
          35390 GIEẞEN
          <br />
          öffnungszeiten : Di.-Fr. 9.00-19.00 Uhr
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sa.
          9.00-18.00 Uhr
          <br />
          <a href="https://www.facebook.com/WomenHaarstylisten/"><img src="assets/img/icons/FindFacebook.svg"
              style="height: 18px;vertical-align: sub;"></a>
          <br />
          Kontakt Nummer : 0641-97222321
        </p>


      </div>
      <div class="col s12 m6">
        <div id='myMap' style='width: 100%; height: 30vh;'></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright backrgoundImage">
    <div class="container">

      <a href="assets/extraFiles/DatenSchutz.html" style="color:#f5f5f5">Datenschutz</a> &nbsp;&nbsp;
      <a href="assets/extraFiles/Impressum.html" style="color:#f5f5f5">Impressum</a>
    </div>
  </div>
</footer>
